@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Desafio - Ventron</h1>
    <p class="lead">Desafio passado para treinar e aperfeicoar nossas habilidades usando MVC em conjunto com o Entity Framework</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Aprenda Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sobre Medicina:</h2>
        <p>
            O termo medicina provém do latim medicīna e refere-se à ciência que permite prevenir, 
            curar e tratar as doenças do corpo humano. Este termo também é usado como sinónimo de medicamento (do latim medicamentum), 
            que é a substância que permite prevenir, aliviar ou curar as doenças ou as suas sequelas.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Aqui voce poderá</h2>
        <ol>
            <li>Adicionar seus médicos favoritos</li>
            <li>Adicionar as Clinicas que eles atuam</li>
        </ol>
    </div>

    <div class="col-md-4">
        <h2>Desafio Criado por:</h2>
        <ul>
            <li>Felipe Braido</li>
            <li>Rafael Andrade</li>
        </ul>
        <h3>Realizado por:</h3>
        <ul>
            <li>Guilherme</li>
        </ul>
    </div>
</div>